# Ignore Android Project Files (Only keep Server for GitHub/Render)
app/
gradle/
.gradle/
.idea/
.kotlin/
build/
gradlew
gradlew.bat
gradle.properties
build.gradle.kts
settings.gradle.kts
local.properties
*.iml

# Node.js
node_modules/
npm-debug.log
.env
package-lock.json

# App Data/Logs
public/downloads/
public/captured_photo.jpg
captured_photo.jpg
recorded_audio.mp3
temp.jpg
temp.mp3
*.log
